
.single-course{
    width: 16rem;
    margin: 1rem .5rem 1rem .5rem;
    padding: 0.7rem;
    background-color:#f2f7ff;;
    border: 1px solid #f2f7ff;
    border-radius:5px;
    box-shadow: none;

}
.single-course:hover{
    box-shadow: 5px 5px 15px #ddd;
}
.course-img{
    display: flex;
    justify-content: center;
    padding:0 0 .6rem 0;
    
}
.course-img img{
    border-radius: 5px;
}

.course-info h4{
    color: #17a2b8;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    
    .single-course{
        width: 14rem;
        margin: 1rem .5rem 1rem .5rem;
        padding: 0.7rem;
        background-color:#f2f7ff;;
        border: 1px solid #f2f7ff;
    }
    .course-img img{
        width:13rem;
    }
}

@media only screen and (max-width: 480px) {
    
    .single-course{
        width: 22rem;
        margin: 1rem 2rem ;
        padding: 0.7rem;
        background-color:#f2f7ff;;
        border: 1px solid #f2f7ff;
    }
    .course-img img{
        width:21rem;
    }
}


@media only screen and (max-width: 300px) {
    .single-course{
        width: 14rem;
        margin: 1rem .5rem 1rem .5rem;
        padding: 0.7rem;
        background-color:#f2f7ff;;
        border: 1px solid #f2f7ff;
    }
    .course-img img{
        width:13rem;
    }
    
}